<a href="https://colab.research.google.com/github/spdr-lily/Descomplica-Data-Science/blob/main/analise_de_dados_de_imobiliaria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# análise de dados fictícios de imóveis disponíveis em diferentes cidades
um conjunto de dados fictícios contendo informações sobre imóveis, como cidade, número de quartos, preço e área.

In [1]:
# importando biblioteca
import pandas as pd

In [2]:
# dados fictícios do mercado imobiliário
dados = {
    'Cidade':['São Paulo', 'Rio de Janeiro', 'Belo Horizonte'],
    'Quartos':[3, 2, 4],
    'Preço': [500000, 350000, 600000]
}

In [3]:
# criando DataFrame dos dados
df = pd.DataFrame(dados)

In [6]:
# explorar o dataframe
print("Primeiras linhas do DataFrame:")
print(df.head())

print("\nInformações do DataFrame:")
print(df.info())

print("\nEstatísticas descritivas dos dados:")
print(df.describe())

Primeiras linhas do DataFrame:
           Cidade  Quartos   Preço
0       São Paulo        3  500000
1  Rio de Janeiro        2  350000
2  Belo Horizonte        4  600000

Informações do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cidade   3 non-null      object
 1   Quartos  3 non-null      int64
 2   Preço    3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes
None

Estatísticas descritivas dos dados:
       Quartos          Preço
count      3.0       3.000000
mean       3.0  483333.333333
std        1.0  125830.573921
min        2.0  350000.000000
25%        2.5  425000.000000
50%        3.0  500000.000000
75%        3.5  550000.000000
max        4.0  600000.000000

In [10]:
# manipulação e limpeza dos dados
df['Quartos'] = df['Quartos'].fillna(df['Quartos'].mean()) # preencher valores ausentes em 'Quartos' com a média

In [11]:
df['Preço'] = df['Preço'].astype(float) # converter a coluna 'Preço' para o tipo float

In [12]:
# calcular a média de preço dos imóveis
media_precos = df['Preço'].mean()
print(media_precos)

483333.3333333333

In [13]:
# calcular a mediana
mediana_precos = df['Preço'].median()
print(mediana_precos)

500000.0

In [14]:
# calcular desvio padrão
desvio_padrao_precos = df['Preço'].std()
print(desvio_padrao_precos)

125830.57392117915

In [15]:
# análise da média de preço
print("\nMédia de preços dos imóveis: R$", media_precos)

Média de preços dos imóveis: R$ 483333.3333333333

In [16]:
# análise de quais cidades tem os imóveis mais caros, em tremos de preço médio
cidades_caras = df.groupby('Cidade')['Preço'].mean().sort_values(ascending=False)
print("\nCidades com os imóveis mais caros por ordem decrescente:")
print(cidades_caras)

Cidades com os imóveis mais caros por ordem decrescente:
Cidade
Belo Horizonte    600000.0
São Paulo         500000.0
Rio de Janeiro    350000.0
Name: Preço, dtype: float64

In [17]:
# correlação entre o número de quartos e preços dos imóveis
correlacao = df['Quartos'].corr(df['Preço'])
print("\nCorrelação entre o número de quartos e o preço dos imóveis:", correlacao)

Correlação entre o número de quartos e o preço dos imóveis: 0.993399267798783

In [18]:
# análises específicas
sao_paulo_imoveis = df[df['Cidade'] == 'São Paulo']
print("\nImóveis da cidade de São Paulo:")
print(sao_paulo_imoveis)

Imóveis da cidade de São Paulo:
      Cidade  Quartos     Preço
0  São Paulo        3  500000.0

In [19]:
imoveis_3_quartos = df[df['Quartos'] == 3]
print("\nImóveis com 3 quartos:")
print(imoveis_3_quartos)

Imóveis com 3 quartos:
      Cidade  Quartos     Preço
0  São Paulo        3  500000.0